@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>0664/5843737</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
        <span>andreas.deimbacer@gmail.com</span>
    </header>
</section>