<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <form action="/Home/Index" method="post">
        <h3>Input</h3>
        <p>@Html.TextBox("input", (string)ViewBag.input, new { onkeydown = "return ValidateNumber(event);",@placeholder="Enter number"})</p>
        
        <h3>Output</h3>
        <p>@Html.TextBox("output", (string)ViewBag.ouput, new { @readonly = true, @placeholder="Result" })</p>
        
        <input id="btnSubmit" type="submit" value="Submit" />
    </form>
    <h4>Tweet status</h4>
    <p>@Html.TextArea("tweet", (string)ViewBag.tweet, new { rows = 3, @readonly = true})</p>
</body>
</html>

<!-- Skript for Textbox Input with Numbers-->
<!-- 95-107 : 0-9 Number-Block-->
<!-- 47-58 : 0-9 -->
<!-- 8 : Backspace -->
<!-- 13 : Enter -->
<script type="text/javascript">
    function ValidateNumber(e) {
        var evt = (e) ? e : window.event;
        var charCode = (evt.keyCode) ? evt.keyCode : evt.which;
        if ((charCode > 95 && charCode < 107) || (charCode > 47 && charCode < 58) || charCode == 8 || charCode == 13) {
            return true;
        }
        return false;
    };
</script>
